<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Product create</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>E-commerce</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Product create</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Create product</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <form method='POST' enctype="multipart/form-data" action="/api/product/create">
                                <fieldset>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Name:</label>
                                        <div class="col-sm-10"><input name="name" type="text" class="form-control"
                                                placeholder="Product name" required></div>
                                    </div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Price
                                            ($):</label>
                                        <div class="col-sm-10"><input name="price" type="text" class="form-control"
                                                placeholder="160.00" required></div>
                                    </div>
                                    <div class="form-group row"><label
                                            class="col-sm-2 col-form-label">Description:</label>
                                        <div class="col-sm-10"><input name="description" type="text"
                                                class="form-control" placeholder="Product description" required></div>
                                    </div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Quantity:</label>
                                        <div class="col-sm-10"><input name="kg" type="text" class="form-control"
                                                placeholder="Product quantity" required></div>
                                    </div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Category:</label>
                                        <div class="col-sm-10"> <select class="custom-select form-control"
                                                data-live-search="true" name="categoryId" required>
                                                <option selected style="position:absolute; z-index:100">Choose one of
                                                    the
                                                    categories below...</option>
                                                {{#each categories}}
                                                <option data-tokens="ketchup mustard" value={{id}}
                                                    style="position:absolute; z-index:100">{{name}}
                                                </option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Meta Tag
                                            Title:</label>
                                        <div class="col-sm-10"><input type="text" name="meta_tag" class="form-control"
                                                placeholder="...">
                                        </div>
                                    </div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Meta Tag
                                            Description:</label>
                                        <div class="col-sm-10"><input type="text" name="meta_description"
                                                class="form-control" placeholder="Sheets containing Lorem"></div>
                                    </div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Meta Tag
                                            Keywords:</label>
                                        <div class="col-sm-10"><input type="text" name="meta_keywords"
                                                class="form-control" placeholder="Lorem, Ipsum, has, been"></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="file-loading col-sm-12">
                                            <label for="input-b6" style="width:30%">Download product image</label>
                                            <div style="width:100%"><input id="input-b6" name="product" type="file"
                                                    required></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10"></div>
                                        <div class="col-sm-2"><button type="submit" class="btn btn-secondary btn-lg"
                                                id="btn-chat" style="width:100%">Send</button></div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="footer">
    <div class="float-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2018
    </div>
</div>

</div>
</div>




<script>
    $(document).ready(function () {
        $("#input-b6").fileinput({
            showUpload: false,
            dropZoneEnabled: false,
            maxFileCount: 1,
            mainClass: "input-group-lg"
        });

        $('.summernote').summernote();

        $('.input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
    });
</script>