<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>INSPINIA | Dashboard</title>

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="/public/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="/public/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="/public/css/animate.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class="rounded-circle" src="/public/img/profile_small.jpg" />
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">David Williams</span>
                                <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/login">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/login">Login</a></li>
                            <li><a href="/forgot_password">Forget password</a></li>
                            <li><a href="/register">Register</a></li>
                            <li><a href="/404">404 Page</a></li>
                            <li><a href="/500">500 Page</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span
                                class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/products_grid">Products grid</a></li>
                            <li><a href="/product_list">Products list</a></li>
                            <li><a href="/product">Product edit</a></li>
                            <li><a href="/product_detail">Product detail</a></li>
                            <li><a href="/cart">Cart</a></li>
                            <li><a href="/orders">Orders</a></li>
                            <li><a href="/payments">Credit Card form</a></li>
                        </ul>
                    </li>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i
                                class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Search for something..." class="form-control"
                                    name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                        </li>

                        <li>
                            <a href="/login">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>

            {{{body}}}
        </div>

        <!-- Mainly scripts -->
        <script src="/public/js/jquery-3.1.1.min.js"></script>
        <script src="/public/js/popper.min.js"></script>
        <script src="/public/js/bootstrap.js"></script>
        <script src="/public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="/public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Flot -->
        <script src="/public/js/plugins/flot/jquery.flot.js"></script>
        <script src="/public/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="/public/js/plugins/flot/jquery.flot.spline.js"></script>
        <script src="/public/js/plugins/flot/jquery.flot.resize.js"></script>
        <script src="/public/js/plugins/flot/jquery.flot.pie.js"></script>

        <!-- Peity -->
        <script src="/public/js/plugins/peity/jquery.peity.min.js"></script>
        <script src="/public/js/demo/peity-demo.js"></script>

        <!-- Custom and plugin javascript -->
        <script src="/public/js/inspinia.js"></script>
        <script src="/public/js/plugins/pace/pace.min.js"></script>

        <!-- jQuery UI -->
        <script src="/public/js/plugins/jquery-ui/jquery-ui.min.js"></script>

        <!-- GITTER -->
        <script src="/public/js/plugins/gritter/jquery.gritter.min.js"></script>

        <!-- Sparkline -->
        <script src="/public/js/plugins/sparkline/jquery.sparkline.min.js"></script>

        <!-- Sparkline demo data  -->
        <script src="/public/js/demo/sparkline-demo.js"></script>

        <!-- ChartJS-->
        <script src="/public/js/plugins/chart/public/js/Chart.min.js"></script>

        <!-- Toastr -->
        <script src="/public/js/plugins/toastr/toastr.min.js"></script>
</body>

</html>